<br>
<br>
<% if @user.errors.any? %>
        <%= @user.errors.count %>error prohibited this obj from being saved:
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
        <% end %>

<div class="container">
	<div class="row">
		<div class ="col-xs-12">
			<h1>User info</h1>

			<%= form_for(@user) do |f| %>
				<strong>Name</strong>
				<%= f.text_field :name %><br>
				<strong>Image</strong>
				<%= f.attachment_field :profile_image %><br>
				<strong>Introduction</strong>
				<%= f.text_area :introduction %><br><br>

				<%= f.submit "Update User" %>
			<% end %>
		</div>
	</div>
</div>
